<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">Books for <%= link_to "#{@customer.first_name} #{@customer.last_name}", user_path(@customer, view: 'librarian') %></h1>
    <div class="clear"></div>
  </div>
  
  <%= render partial: 'shared/flash' %>

  <div id="featureWrap" class="floatLeft"> 
  	<table class="table table-striped table-hover librarian-customer-books-table">
  		<tr>
  			<th>Date</th>
  			<th>Title</th>
  			<th>Author</th>
  			<th>Status</th>
        <th>Action</th>
  		</tr>
  		<% @customer_books.each do |customer_book| -%>
  			<tr class="<%= cycle("rowA", "rowB") -%>">
          <td><%= customer_book.created_at.to_date %></td>
          <td><%= customer_book.bookable.title %></td>
          <td><%= customer_book.bookable.author %></td>
          <td><%= customer_book.status %></td>
          <td>
            <%= render 'check_in_out_button', customer_book: customer_book %>
          </td>
        </tr>
      <% end -%>
  </div>
</div>
